$color-white: #ffffff;
$color-white-90: #ffffffe5;

$color-black: #000;

$color-primary: #000a7c;
$color-secondary: #1900d4;

$color-text-primary: #ffffff;
$color-text-secondary: rgb(0, 81, 255);

$color-border: rgba(0, 0, 0, 0.05);

$color-danger: #fd0000;
