$color-white: #ffffff;
$color-white-90: #ffffffe5;

$color-black: #000;

$color-primary: #000a7c;
$color-secondary: #1900d4;

$color-button1: #1f2f47;
$color-button2: #23395e;
$color-button3: #2e466e;
$color-button4: #415989;

$text-shadow: #263666;

$color-text-primary: #ffffff;
$color-text-secondary: rgb(0, 81, 255);

$color-danger: #fd0000;
