$color-white: #ffffff;
$color-white-90: #ffffffe5;

$color-black: #000;

$color-primary: #eaeaea;
$color-secondary: #fbfbfb;

$color-button1: #8a8a8a;
$color-button2: #b6b6b6;
$color-button3: #dbdbdb;
$color-button4: #fffdfd;

$text-shadow: #263666;

$color-text-primary: #1a1a1a;
$color-text-secondary: rgb(0, 81, 255);

$color-danger: #fd0000;
