// config
@import "./config/colors";
@import "./config/reset";

//components
@import "./components/header.scss";

.App {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  min-height: 100vh;
  border: 1px solid $color-text-primary;
}
